.kai-header-container {
    padding: 0 40px;
}

.kai-header-container .rs-dropdown-menu {
    background-color: #2A343D;
    border-radius: 0;
}
.kai-header-container .rs-dropdown-menu .rs-dropdown-item-content {
    color: white;
}

.kai-header-container-mobile {
    background-color: #2A343D;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.kai-header-mobile-menu-container {
    max-width: 70%;
}

.kai-header-container-mobile-menu {
    position: absolute;
    right: 10px;
}

.kai-header-container-mobile-menu>button {
    background-color: transparent;
}

.kai-header-container-mobile-menu>button:focus {
    outline: none;
}

.kai-logo-container {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.kai-logo-container>img {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .kai-logo-container {
        margin-right: 15px;
    }
}