.dashboard-container {
    width: 80%;
    margin: 30px auto;
}

.wallet-info-card {
    height: 100px;
    margin: 10px;
    border-left: 5px solid #54e859;
    color: white;
}

.wallet-header-container {
    margin-bottom: 20px;
}

.wallet-info-card.address {
    background: #7a4df7;
    margin-left: 0px;
}

.wallet-info-card.balance {
    background: rgb(255, 153, 0);
}

.wallet-info-card.network {
    background: #0b0474;
    margin-right: 0px;
}


.wallet-info-card .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.wallet-info-card .title .icon{
    font-size: 24px;
    margin-right: 15px;
}

.left-container {
    
}
.right-container {
    margin-left: 20px;
}

.register-button {
    border: 1px solid #041fc5;
    background: white;
    color: #0b0bff;
}

.register-container {
    width: 100%;
    margin-bottom: 40px;
}

.register-form {
    margin: 20px 0;
}

.register-form .rs-form-control-wrapper {
    margin-bottom: 20px;
}
.register-form .rs-form {
    padding-right: 50px;
}