.block-detail-container {
    padding: 50px 100px;
}
.block-detail-container .title {
    padding: 5px 0;
    font-weight: 700;
}

@media screen and (max-width: 620px) {
    .block-detail-container {
        padding: 50px 10px;
    }
}