.staking-icon {
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 600;
    display: inline-block;
}

.normal {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.big {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.small {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.common {
    background: var(--highlight);
}

.proposer {
    background: #cf1578;
}

.validator {
    background: #039fbe;
}
.nominator {
    background: #e8d21d;
}
.delegator {
    background: #b20238;
}