.kai-footer {
    background-color: #2a343d;
    color: #FFFFFF;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-icon{
color:white;
margin-right: 22px;
}

/* mobile screen */
@media screen and (max-width: 740px) {
.kai-footer{
    flex-direction: column-reverse;
    padding: 10px 0px;
}
}
/* end mobile screen */