.access-privatekey-container {
    width: 100%;
}

.access-privatekey-container .rs-form-control-wrapper {
    max-width: 500px !important;
}

.access-wallet-container {
    margin-top: 50px;
}

.access-wallet-container .panel-container.private-key .rs-panel {
    background: #b77f00;
}

.access-wallet-container .panel-container.keystore-file .rs-panel {
    background: #0f198e;
}

.access-wallet-container .panel-container.mnemonic-phrase .rs-panel {
    background: #630000;
}

.access-wallet-container .panel-container .rs-panel-body {
    height: 400px;
}

.access-wallet-container .panel-container .title {
    font-size: 20px;
    font-weight: 700;
}

.access-wallet-container .panel-container .icon {
    font-size: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.access-wallet-container .panel-container .move-next-step {
    position: absolute;
    font-size: 18px;
    right: 30px;
    top: 380px;
}
.access-wallet-container .rs-flex-box-grid-item {
    max-width: 300px;
}

/* Style for crate wallet with private key */
.access-container {
    margin-top: 50px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container .submit-buttom {
    margin: 30px 20px;
}

.access-container .rs-panel-body {
    width: 700px;
}

.access-container .title {
    font-size: 20px;
    margin-bottom: 30px;
}