.home-container>h3 {
    margin-top: 45px;
}

.home-top-section {
    min-height: 300px;
    position: relative;
}

.block-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom:10px;
}

.title{
font-weight:600;
}

.mt0{
    margin-top:0;
}

.title-right{
    background:linear-gradient(137.34deg,#e62c2c 14.41%,#623555 116.67%);

    padding: 5px 31px;
    color: white;
    cursor: pointer;
    border-radius:2px;
}


@media screen and (min-width: 1300px){
    .section-left, .section-right {
        width: calc(50% - 5px);
    }

    .section-left {
        margin-right: 5px;
    }

    .section-right {
        margin-left: 5px;
    }
}

@media screen and (max-width: 992px) {
    .search-section {
        background-color: transparent;
        min-height: unset;
        padding: 30px 13px;
    }
    .search-input-wrapper {
        position: initial;
        background-color: transparent;
        padding: 20px 15px;
        flex-direction: column;
    }

    .search-input-wrapper>button {
        width: unset;
        margin-top: 10px;
    }

    .search-input-wrapper>input {
        width: unset;
    }
}

/* mobile screen */
@media screen and (max-width: 740px){
.home-top-section{
    min-height: 0;
}
}

/* end mobile screen */