.stat-container {
    margin-top: 10px;
    background-color: transparent;
    font-size: 40px;
    border-radius: 0
}

.stat-container>.rs-panel-body {
    border-radius: 5px;
    display:flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border: 1px solid #e7eaf3;
}

.home-container>h3 {
    margin-top: 45px;
}

.home-top-section {
    min-height: 300px;
    position: relative;
}

.button-view-all {
    width: 100%;
    margin: 20px 0;
}

.block-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom:10px;
}

.title{
font-weight:600;
}

.mt0{
    margin-top:0;
}

.title-right{
    background: #2a343d;
    padding: 5px 31px;
    color: white;
    cursor: pointer;
}


/* ---------------- Panel stats style ---------------------*/
.stats-section{
    width:100%;
    margin-top:20px;
}

.stats-section .title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #302b3c;
}

.stats-section .value {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #302b3c;
    line-height: 30px;
}

.stats-section .icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    
    .stat-group {
        padding: 10px;
    }
    .stat-container>.rs-panel-body{
        font-size: 20px;
        font-weight: bold;
    }
    .search-section {
        background-color: transparent;
        min-height: unset;
        padding: 30px 13px;
    }
    .search-input-wrapper {
        position: initial;
        background-color: transparent;
        padding: 20px 15px;
        flex-direction: column;
    }

    .search-input-wrapper>button {
        width: unset;
        margin-top: 10px;
    }

    .search-input-wrapper>input {
        width: unset;
    }
}