.deploy-bytecode-container .rs-btn {
    padding:12px 21px !important;
}
.deploy-bytecode-container .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.deploy-bytecode-container .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 12px
}
.deploy-bytecode-container .rs-flex-box-grid-item {
    margin-bottom: 15px;
}

.interact-smc-container .form-addon-container,
.deploy-bytecode-container .form-addon-container {
    margin-bottom: 5px;
}
.interact-smc-container .form-addon-container.button-addon,
.deploy-bytecode-container .form-addon-container.button-addon {
    text-align: right;
}
