:root{
  --highlight: linear-gradient(137.34deg,#e62c2c 14.41%,#623555 116.67%);
  --gray: #5c5c5c;
  --nav-color:#000000;
  --nav-color-active: #ae0001;
  --black-color: #302b3c;
  --bg-color: #f8f9fa;
  --white-color: #FFFFFF;
  --box-shadow-color: rgba(0,0,0,.05);
  --border-color: #e7eaf3;
  --hyperlink-color: #9E3144;

  --box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  --border: 1px solid #e7eaf3;
  --success-color: #068c03;
  --highlight-shade1: #8a1a1a;
  --gray-shade1: #494949;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black-color) !important;

}

.hex {
  font-weight: 600;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

.hex-link {
  font-weight: 600;
  color: var(--hyperlink-color);
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

a:active,
a:focus,
a:hover {
  text-decoration: none !important;
}

.kai-explorer-app {
  min-height: 100vh;
}

.required-mask {
  color: red;
}

.highlight {
  background: var(--highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-highlight{
  background: var(--highlight) !important;
  color: var(--white-color) !important;
  border-radius: 0px !important;
}

.mb10{
  margin-bottom:10px;
}

/* override css rsuite */

.rs-content{
  display:flex;
  justify-content: center;
  background: var(--bg-color);
}

.rs-panel-body{
  background: var(--white-color);
}

.rs-panel{
  border-radius:4px !important; 
}

.rs-panel-shaded{
  box-shadow: var(--box-shadow) !important;
  border: var(--border) !important;
}

.rs-header{
  background-color: var(--nav-color);
  height:56px;
}
.rs-navbar.rs-navbar-inverse {
  background-color: var(--nav-color) !important;
}

.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item-active a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:hover a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:focus a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:active a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:active,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:hover,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:focus {
  background-color: var(--nav-color-active) !important;
}

.rs-table-cell-header .rs-table-cell-content{
  font-size: 14px !important;
  font-weight:600 !important;
  color:#000000 !important;
}
.rs-table-row-header,
.rs-table-row-header .rs-table-cell {
  background: #f0f0f0 !important
}

/* end override rsuite */

.chartjs-size-monitor{
  visibility: visible !important;
  box-shadow: var(--box-shadow) !important;
  border: var(--border) !important;
  z-index:999 !important;
  border-radius:4px;
  min-height:328px;
}

.container {
  max-width:1920px;
  width:70%;
  padding:40px 0px;
}

/* end mobile screen */
.rs-table-scrollbar-vertical {
  width: 3px !important;
}

.rs-table-scrollbar-vertical .rs-table-scrollbar-handle {
  width: 3px !important;
}

.rs-table-scrollbar-horizontal {
  height: 3px !important;
}
.rs-table-scrollbar-horizontal .rs-table-scrollbar-handle {
  height: 3px !important;
}

.rs-input,
.dropdown-custom .rs-btn{
  padding:12px 11px !important;
}
.dropdown-custom .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
.dropdown-custom .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  top: 12px !important;
}

.property-title {
  word-break: break-all;
  font-weight: bold;
  color: #a8a8a8
}
.property-content {
  font-weight: bold;
  word-break: break-all;
}

/* .rs-table-cell-wrap a,
.rs-table-cell-wrap a:hover,
.rs-table-cell-wrap a:focus, */
.property-content a,
.property-content a:hover,
.property-content a:focus {
  font-weight: 600;
  color: var(--hyperlink-color);
}

.tab-in-out {
  width: 45px;
  text-align: center;
}

.verify-proposer-icon {
  display: inline-block;
  width: 25px;
  color: #0a940a;
  margin-left: 5px;
}

.validator-name {
    text-transform: uppercase;
    font-weight: 600;
}

.proposer,
.validator,
.register  {
  color: #ffffff !important;
  font-weight: 600 !important;
}

.proposer{
  background-color: #ef0551 !important;
}

.validator {
  background-color: #24a25c !important;
}

.register {
  background-color: #d68c05 !important;
}

@media screen and (max-width: 740px) {
  .rs-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 30px 10px;
    width: 100%;
  }

  .rs-panel-body{
    padding:10 !important;
  }

  .chartjs-size-monitor{
    min-height: 0;
  }

  .rs-modal-sm{
    width: auto !important;
    padding:0px 10px;
  }

  .w100{
    width:100% !important;
  }
}
.custom-tooltip .rs-tooltip-inner {
  background: #5f7689 !important;
  font-weight: 600;
  font-size: 12px;
}
.custom-tooltip .rs-tooltip-arrow {
  border-bottom-color: #5f7689 !important;
  border-top-color: #5f7689 !important;
}

.rs-list {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}