:root{
  --highlight: linear-gradient(137.34deg,#e62c2c 14.41%,#623555 116.67%);
  --gray-highlight: linear-gradient(98.97deg, #C4C4C4 6.81%, #696969 100%);
  --cyan-highlight: linear-gradient(90.13deg, #7C88F3 0.15%, #46D9EE 99.94%);
  --pink-highlight: linear-gradient(90.13deg, #6E5CE6 0.15%, #C047FD 99.94%);
  --orange-highlight: linear-gradient(90.13deg, #FF6FAC 0.15%, #FD8F78 99.94%);

  /* --highlight: linear-gradient(137.34deg,#0b3fbb 14.41%,#623555 116.67%); */
  --gray: #5c5c5c;
  --nav-color:#000000;
  --nav-color-active: #ae0001;
  --black-color: #302b3c;
  /* --bg-color: #f8f9fa; */

  --gray-button: #2D3037;

  --bg-color: #191A1C;
  --white-color: #FFFFFF;
  --blue-color: #0074FF;


  --box-shadow-color: rgba(0,0,0,.05);
  --border-color: #e7eaf3;
  --hyperlink-color: #9E3144;
  /* --hyperlink-color: #0b3fbb; */
  /* --hyperlink-color: #0b3fbb; */
  /* --hyperlink-color: #0074FF; */

  --box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  --border: 1px solid #22252C;
  --gray-border: 1px solid #8f8f8fce;
  --success-color: #068c03;
  --highlight-shade1: #8a1a1a;
  --gray-shade1: #494949;
  --panel-bg-color: #27282A;
  --text-white-color: #FFFFFF;
  --text-graylight-color: #CACACA;
  --input-gray-color: #27282A;
  --input-black-color: #101010;

  /* dark mode */
  --bg-color-dark: #191A1C;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-color);

}

.color-white {
  color: var(--text-white-color);
}
.color-white:hover {
  color: var(--text-white-color);
}

.color-graylight {
  color: var(--text-graylight-color);
}

.bg-panel-gray {
  background: var(--panel-bg-color);
}

.hex {
  font-weight: 600;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

.hex-link {
  font-weight: 600;
  color: var(--blue-color);
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

a:active,
a:focus,
a:hover {
  text-decoration: none !important;
}

.kai-explorer-app {
  min-height: 100vh;
}

.required-mask {
  color: red;
}

.highlight {
  background: var(--highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-highlight {
  background: var(--orange-highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-highlight {
  background: var(--pink-highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-highlight {
  background: var(--gray-highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cyan-highlight {
  background: var(--cyan-highlight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-highlight{
  background: var(--highlight) !important;
  color: var(--white-color) !important;
  border-radius: 0px !important;
}

.rs-list-item,
.rs-modal-content {
  background: var(--panel-bg-color) !important;
}

.mb10{
  margin-bottom:10px;
}

/* override css rsuite */

.rs-content{
  display:flex;
  justify-content: center;
  background: var(--bg-color);
}

.rs-panel-body{
  background: var(--white-color);
}

.panel-bg-gray .rs-panel-body{
  background: var(--panel-bg-color);
}

.panel-bg-transparent .rs-panel-body{
  background: transparent;
  border: var(--gray-border);
}

.rs-panel{
  border-radius:4px !important; 
}

.rs-panel-shaded{
  box-shadow: var(--box-shadow) !important;
  border: var(--border) !important;
}

/* Style list */
.panel-bg-gray .rs-list-item {
  background: var(--panel-bg-color);
  box-shadow: none;
  border-bottom: var(--border) !important;
}

.rs-picker-toggle-value,
.rs-picker-select-menu-item,
.rs-picker-select-menu-item.rs-picker-select-menu-item-active,
.rs-picker-menu,
.panel-bg-gray .rs-picker-default .rs-btn,
.rs-picker-toggle,
.panel-bg-gray .kai-number-input,
.panel-bg-gray .rs-input,
.panel-bg-gray .rs-input-group-btn,
.panel-bg-gray .rs-input-group-btn:focus,
.panel-bg-gray .rs-input-group-btn:hover {
  background: var(--input-black-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--input-black-color) !important;
  outline: none;
}
.panel-bg-gray .rs-input-group:not(.rs-input-group-inside) {
  border: none;
}

.rs-header{
  background-color: var(--white-color);
  height:56px;
}
.rs-navbar.rs-navbar-inverse {
  background-color: var(--white-color) !important;
}

.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item-active a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:hover a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:focus a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-nav-item:active a,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:active,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:hover,
.rs-header .rs-navbar.rs-navbar-inverse .rs-dropdown .rs-dropdown-menu ~ .rs-dropdown-toggle:focus {
  background-color: var(--bg-color) !important;
  color: white !important;
}

 /* Style table */
.rs-table-cell-header .rs-table-cell-content{
  font-size: 14px !important;
  font-weight:600 !important;
  color: var(--text-white-color);
}

.rs-table-row .rs-table-cell-content{
  color: var(--text-white-color);
}

.panel-bg-gray .rs-table,
.panel-bg-gray .rs-table-row-header,
.panel-bg-gray .rs-table-cell {
  background: var(--panel-bg-color) !important;
}
.panel-bg-gray .rs-table-row {
  border-bottom: var(--gray-border) !important;
}

.panel-bg-gray .rs-table-loader-wrapper {
  background: var(--panel-bg-color) !important;
  color: var(--text-white-color) !important;
}

.panel-bg-gray .rs-table-body-info {
  color: var(--text-white-color) !important;
}

.panel-bg-gray .rs-placeholder-paragraph-rows p {
  background: var(--bg-color) !important;
}


/* end override rsuite */
.chartjs-size-monitor{
  visibility: visible !important;
  box-shadow: var(--box-shadow) !important;
  border: var(--border) !important;
  z-index:999 !important;
  border-radius:4px;
  min-height:328px;
}

.container {
  max-width:1920px;
  width:80%;
  padding:40px 0px;
}

/* end mobile screen */
.rs-table-scrollbar-vertical {
  width: 3px !important;
}

.rs-table-scrollbar-vertical .rs-table-scrollbar-handle {
  width: 3px !important;
}

.rs-table-scrollbar-horizontal {
  height: 3px !important;
}
.rs-table-scrollbar-horizontal .rs-table-scrollbar-handle {
  height: 3px !important;
}

.rs-input,
.dropdown-custom .rs-btn{
  padding:12px 11px !important;
}
.dropdown-custom .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
.dropdown-custom .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  top: 12px !important;
}

.property-title {
  word-break: break-all;
  font-weight: bold;
  color: var(--text-white-color);
}
.property-content {
  font-weight: bold;
  word-break: break-all;
  color: var(--text-white-color);
}

.property-content a,
.property-content a:hover,
.property-content a:focus {
  font-weight: 600;
  color: var(--blue-color);
}

.tab-in-out {
  width: 45px;
  text-align: center;
  color: var(--white-color) !important;
}
.tab-out {
  background: var(--orange-highlight);
}
.tab-in {
  background: var(--pink-highlight)
}

.verify-proposer-icon {
  display: inline-block;
  width: 25px;
  color: #0a940a;
  margin-left: 5px;
}

.validator-name {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--blue-color);
}

.custom-nav .rs-nav-subtle.rs-nav-horizontal .rs-nav-item > .rs-nav-item-content::before {
  height: 4px;
  background: var(--cyan-highlight);
}
.custom-nav .rs-nav .rs-nav-item-content {
  font-weight: 600;
}
.custom-nav .rs-nav .rs-nav-item-active > .rs-nav-item-content:active,
.custom-nav .rs-nav .rs-nav-item-active > .rs-nav-item-content:hover,
.custom-nav .rs-nav .rs-nav-item-active > .rs-nav-item-content,
.custom-nav .rs-nav .rs-nav-item-content:active,
.custom-nav .rs-nav-item:not(.rs-nav-item-disabled) > .rs-nav-item-content:hover,
.custom-nav .rs-nav-item:not(.rs-nav-item-disabled) > .rs-nav-item-content:focus {
  color: var(--blue-color);
}
.custom-nav .rs-nav-subtle.rs-nav-horizontal .rs-nav-waterline {
  border-top-color: var(--blue-color);
}

.custom-nav .rs-nav .rs-nav-item-content {
  color: white;
}

.confirm-letter {
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .rs-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 30px 20px;
    width: 100%;
  }

  .rs-panel-body{
    padding:10 !important;
  }

  .chartjs-size-monitor{
    min-height: 0;
  }

  .rs-modal-sm{
    width: auto !important;
    padding:0px 10px;
  }

  .w100{
    width:100% !important;
  }
}

.custom-tooltip .rs-tooltip-inner {
  background: #5f7689 !important;
  font-weight: 600;
  font-size: 12px;
}
.custom-tooltip .rs-tooltip-arrow {
  border-bottom-color: #5f7689 !important;
  border-top-color: #5f7689 !important;
}

.rs-list {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.tx-error-icon {
  color: rgb(250, 3, 3);
}

.gray-tab-custom {
  color: #000 !important;
  padding: 5px 20px !important;
  background-color: #c1c1c1 !important;
}

.rs-modal-header .rs-modal-title {
  color: white !important;
}

.rs-pagination > li.rs-pagination-btn-active > a,
.rs-table-pagination-length-menu, 
.rs-table-pagination-page-info {
  color: white !important;
}