body {
  margin: 0;
  /* font-family: 'Space Mono', monospace !important; */
  /* font-family: 'Roboto Mono', monospace !important; */
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kai-explorer-app {
  min-height: 100vh;
}

.required-mask {
  color: red;
}
.container {
  padding: 40px 90px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 10px;
  }
}